section.countdown1.cid-qz35mgqJhF#countdown1-9c(data-rv-view="3348")
        .container
            h2.mbr-section-title.mb-0.align-center.mbr-fonts-style.display-2
               | SUMMER SALE STARTS IN
            .underline.align-center
               .line
        .container.countdown-cont.align-center
            .daysCountdown(title="Days")
            .hoursCountdown(title="Hours")
            .minutesCountdown(title="Minutes")
            .secondsCountdown(title="Seconds")
            .countdown.pt-5.mt-2(data-due-date="2018/05/22")