section.cid-qz36wFEBlz#footer3-9g(data-rv-view="3379")
    .container-fluid
        .row.align-center.justify-content-center
            .col-lg-6.col-xl-4
                .follow-section
                    .follow-heading.mbr-fonts-style.align-left.display-7
                        | FOLLOW
                    .social-media.pb-3.align-left
                        ul
                            li
                                a.icon-transition(href="#")
                                    span.mbr-iconfont.socicon-facebook.socicon(media-simple="true")
                            li
                                a.icon-transition(href="#")
                                    span.mbr-iconfont.socicon-twitter.socicon(media-simple="true")
                            li
                                a.icon-transition(href="#")
                                    span.mbr-iconfont.socicon-linkedin.socicon(media-simple="true")
                            li
                                a.icon-transition(href="#")
                                    span.mbr-iconfont.socicon-youtube.socicon(media-simple="true")
                            li
                                a.icon-transition(href="#")
                                    span.mbr-iconfont.socicon-rss.socicon(media-simple="true")
                .row.column-menu
                    .col-xl-5.col-lg-6
                        ul.firstColumn.align-left.mbr-white.mbr-fonts-style.display-7
                            li
                                a.text-white(href="https://mobirise.com/") Autumn
                            li
                                a.text-white(href="https://mobirise.com/") Winter
                            li
                                a.text-white(href="https://mobirise.com/") Spring
                            li
                                a.text-white(href="https://mobirise.com/") Summer
                    .col-xl-5.col-lg-6
                        ul.secondColumn.align-left.mbr-white.mbr-fonts-style.display-7
                            li
                                a.text-white(href="https://mobirise.com/") Cassual
                            li
                                a.text-white(href="https://mobirise.com/") Classic
                            li
                                a.text-white(href="https://mobirise.com/") Urban
                            li
                                a.text-white(href="https://mobirise.com/") Sport
            .col-lg-6.col-xl-6.form-section
                ul.mbr-list.list-inline.align-left
                    li.list-inline-item.mbr-fonts-style.display-7
                        a.text-white(href="https://mobirise.com/") NEW ARRIVALS
                    li.list-inline-item.mbr-fonts-style.display-7
                        a.text-white(href="https://mobirise.com/") DISCOUNTS
                    li.list-inline-item.mbr-fonts-style.display-7
                        a.text-white(href="https://mobirise.com/") CONTACT US
                .input-form
                    span.mbr-fonts-style.form-text.display-7
                        | Subscribe to get the latest on sales, new releases and more ...
                    form.mbr-form(action="#" method="post" name="My Mobirise Form")
                        .input-wrap(data-for="email")
                            input.field.special-form.display-7(type="text" name="email" data-form-field="E-mail" required="")
                        span.input-group-btn
                            a.btn.btn-form.btn-secondary.display-4(href="https://mobirise.com/" type="submit") SUBSCRIBE
                h3.subtext-1.mbr-fonts-style.pb-3.display-7
                    | HTML Design Templates. Powered by
                    a.text-secondary(href="https://mobirise.com/")  Mobirise
                h3.subtext-2.mbr-fonts-style.display-7
                    | Supported payment systems
                ul.card-support.align-left
                    li
                        img(src="assets/images/visa.png" height="30" alt="Visa" media-simple="true")
                    li
                        img(src="assets/images/master-card.png" height="30" alt="Master Card" media-simple="true")
                    li
                        img(src="assets/images/american-express.png" height="30" alt="American Express" media-simple="true")
                    li
                        img(src="assets/images/paypal.png" height="30" alt="PayPal" media-simple="true")
                    li
                        img(src="assets/images/discover.png" height="30" alt="Discover" media-simple="true")
                    li
                        img(src="assets/images/amazon.png" height="30" alt="Amazon" media-simple="true")