section.menu.popup-btn-cards.cid-qyXn6aM2G0(once="menu"  id="menu2-96"  data-rv-view="3343")
    nav.navbar.navbar-dropdown.navbar-fixed-top.navbar-expand-lg
        .mbr-overlay(style={opacity: 0.9})
        a.full-link(href="http://www.mobirise.com/")
        .menu-top.card-wrapper.mbr-fonts-style.mbr-white.display-7
            | Hot Summer Sale - Save 50%
        .collapse.navbar-collapse#navbarSupportedContent
            .left-menu
                ul.navbar-nav.nav-dropdown(data-app-modern-menu="true")
                    li.nav-item
                        a.nav-link.link.text-black.display-4(href="https://mobirise.com/")
                            | Home
                    li.nav-item.dropdown.open
                        a.nav-link.link.dropdown-toggle.text-black.display-4(href="https://mobirise.com/" data-toggle="dropdown-submenu" aria-expanded="true")
                            | More Demos
                        .dropdown-menu
                            a.dropdown-item.text-black.display-4( href="https://mobirise.com/html-templates/shop/")
                                | HTML Business Templates
                            a.dropdown-item.text-black.display-4( href="index.html")
                                | HTML Design Templates
                            a.dropdown-item.text-black.display-4( href="https://mobirise.com/html-templates/ecommerce/")
                                | eCommerce HTML Theme
                            a.dropdown-item.text-black.display-4( href="https://mobirise.com/html-templates/hotel/")
                                | Hotel HTML Template
                            a.dropdown-item.text-black.display-4( href="https://mobirise.com/html-templates/landing-page/")
                                | Landing Page HTML Template
                            a.dropdown-item.text-black.display-4( href="https://mobirise.com/html-templates/premium/")
                                | Premium HTML Themes
                            a.dropdown-item.text-black.display-4( href="https://mobirise.com/html-templates/profile/")
                                | HTML Resume Template
                            a.dropdown-item.text-black.display-4( href="https://mobirise.com/html-templates/shopping/")
                                | Online Shopping HTML Template
                            a.dropdown-item.text-black.display-4( href="https://mobirise.com/html-templates/store/")
                                | Responsive HTML Theme
            .brand-container
                .navbar-brand
                    span.navbar-logo
                        a(href="https://mobirise.com/")
                            img(src="assets/images/logo21.png" alt="Mobirise"  media-simple="true"  style={height: "3.8rem"})
                    span.navbar-caption-wrap
                        a.navbar-caption.text-black.display-5(href="https://mobirise.com/")
                            | StoreM4
            .right-menu
                ul.navbar-nav.nav-dropdown(data-app-modern-menu="true")
                    li.nav-item.dropdown.open
                        a.nav-link.link.dropdown-toggle.text-black.display-4(href="https://mobirise.com/"  aria-expanded="true"  data-toggle="dropdown-submenu")
                            | More Templates
                        .dropdown-menu
                            .dropdown
                                a.text-black.dropdown-item.dropdown-toggle.display-4(href="https://mobirise.com/"  aria-expanded="false"  data-toggle="dropdown-submenu")
                                    | And more...
                                .dropdown-menu.dropdown-submenu
                                    a.text-black.dropdown-item.display-4(href="https://mobirise.com/bootstrap-template/agency-template/"  aria-expanded="false")
                                        | Agency Template
                                    a.text-black.dropdown-item.display-4(href="https://mobirise.com/bootstrap-template/application-template/"  aria-expanded="false")
                                        | Application Template
                                    a.text-black.dropdown-item.display-4(href="https://mobirise.com/bootstrap-template/business-template/"  aria-expanded="false")
                                        | Business Template
                                    a.text-black.dropdown-item.display-4(href="https://mobirise.com/bootstrap-template/corporate-template/"  aria-expanded="false")
                                        | Corporate Template
                                    a.text-black.dropdown-item.display-4(href="https://mobirise.com/bootstrap-template/homepage-template/"  aria-expanded="false")
                                        | Homepage Template
                                    a.text-black.dropdown-item.display-4(href="https://mobirise.com/bootstrap-template/magazine-template/"  aria-expanded="false")
                                        | Magazine Template
                                    a.text-black.dropdown-item.display-4(href="https://mobirise.com/bootstrap-template/agency-template/multi-page-template.html"  aria-expanded="false")
                                        | Multi Page Template
                                    a.text-black.dropdown-item.display-4(href="https://mobirise.com/bootstrap-template/personal-website-template/"  aria-expanded="false")
                                        | Personal Website Template
                                    a.text-black.dropdown-item.display-4(href="https://mobirise.com/bootstrap-template/photography-template/"  aria-expanded="false")
                                        | Photography Template
                                    a.text-black.dropdown-item.display-4(href="https://mobirise.com/bootstrap-template/store-template/"  aria-expanded="false")
                                        | Store Template
                                    a.text-black.dropdown-item.display-4(href="https://mobirise.com/bootstrap-template/web-application-template/"  aria-expanded="false")
                                        | Web Application Template
                            a.text-black.dropdown-item.display-4(href="https://mobirise.com/bootstrap-template/real-estate-template/")
                                | Real Estate Template
                                br
                            a.text-black.dropdown-item.display-4(href="https://mobirise.com/bootstrap-template/restaurant-template/")
                                | Restaurant Template
                                br
                            a.text-black.dropdown-item.display-4(href="https://mobirise.com/bootstrap-template/travel-template/")
                                | Travel Template
                                br
                            a.text-black.dropdown-item.display-4(href="https://mobirise.com/bootstrap-template/wedding-template/")
                                | Wedding Template
                                br
                            a.text-black.dropdown-item.display-4(href="https://mobirise.com/bootstrap-template/hotel-template/")
                                | Hotel Template
                                br
                            a.text-black.dropdown-item.display-4(href="https://mobirise.com/bootstrap-template/landing-page-template/")
                                | Landing Page Template
                                br
                            a.text-black.dropdown-item.display-4(href="https://mobirise.com/bootstrap-template/news-template/")
                                | News Template
                                br
                            a.text-black.dropdown-item.display-4(href="https://mobirise.com/bootstrap-template/profile-template/")
                                | Profile Template
                                br
                            a.text-black.dropdown-item.display-4(href="https://mobirise.com/bootstrap-template/education-template/")
                                | Education Template
                                br
                            a.text-black.dropdown-item.display-4(href="https://mobirise.com/bootstrap-template/coming-soon-template/")
                                | Coming Soon Template
                                br
                            a.text-black.dropdown-item.display-4(href="https://mobirise.com/bootstrap-template/error-page-template/")
                                | Error Page Template
                                br
                            a.text-black.dropdown-item.display-4(href="https://mobirise.com/bootstrap-template/event-template/")
                                | Event Template
                                br
                            a.text-black.dropdown-item.display-4(href="https://mobirise.com/bootstrap-template/about-us-page-template/")
                                | About Us Page Template
                    li.nav-item
                        a.nav-link.link.text-black.display-4(href="https://mobirise.com/")
                            | Website Builder
        button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation")
            .hamburger
                span
                span
                span
                span
    