section.info3.cid-qz36gWA0mm#idinfo3-9f(data-rv-view="3376")
    .container-fluid
    .row.main
        .col-md-6.map
            .google-map
                iframe(frameborder="0" style="border:0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3925.0162644351094!2d107.07776261488826!3d10.34058319261818!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31756ff371811c7f%3A0xef8d61ebccd9aa12!2zMTExLCAxNyBIb8OgbmcgSG9hIFRow6FtLCBQaMaw4budbmcgMywgVGjDoG5oIHBo4buRIFbFqW5nIFThuqd1LCBCw6AgUuG7i2EgLSBWxaluZyBUw6B1LCBWaWV0bmFt!5e0!3m2!1sen!2s!4v1522705513863" allowfullscreen="")
        .col-md-6.text-element
            .text-content
                h2.mbr-title.pt-2.mbr-fonts-style.display-2 FIND US
                .underline.align-left
                    .line
                .mbr-section-text
                    p.mbr-text.pt-3.mbr-light.mbr-fonts-style.display-7
                        | Web Design HTML Templates
                .mbr-list.mbr-fonts-style.display-7
                ul.mbr-list.mbr-fonts-style
                    li
                        span.mbri-globe.mbr-iconfont
                        | 1234 Street Name City, AA 99999
                    li
                        span.mbri-alert.mbr-iconfont
                        | +1 (0) 000 0000 001
                    li
                        span.mbri-letter.mbr-iconfont
                        | support@mobirise.com
                .social-list.align-right
                    .soc-item
                        a(href="https://twitter.com/mobirise" target="_blank")
                            span.socicon-twitter.socicon.mbr-iconfont.mbr-iconfont-social(media-simple="true")
                    .soc-item
                        a(href="https://www.facebook.com/pages/Mobirise/1616226671953247" target="_blank")
                            span.socicon-facebook.socicon.mbr-iconfont.mbr-iconfont-social(media-simple="true")
                    .soc-item
                        a(href="https://www.youtube.com/c/mobirise" target="_blank")
                            span.socicon-youtube.socicon.mbr-iconfont.mbr-iconfont-social(media-simple="true")
                    .soc-item
                        a(href="https://instagram.com/mobirise" target="_blank")
                            span.socicon-instagram.socicon.mbr-iconfont.mbr-iconfont-social(media-simple="true")
                    .soc-item
                        a(href="https://plus.google.com/u/0/+Mobirise" target="_blank")
                            span.socicon-googleplus.socicon.mbr-iconfont.mbr-iconfont-social(media-simple="true")