section.cid-qz36bFVQKf#idinfo4-9e(data-rv-view="3373")
    .container-fluid
        .row.justify-content-center
            .col-12.col-md-12
                .align-center.mbr-fonts-style.mbr-section-title.display-2
                    | SUPPORTED PAYMENT SYSTEM
                .underline.align-center
                    .line
            .row.justify-content-center.col-12.col-md-12.col-lg-10.col-xl-8.pt-5
                ul.list-inline.align-center
                    li.list-inline-item
                        img(src="assets/images/visa.png" alt="Visa" media-simple="true")
                    li.list-inline-item
                        img(src="assets/images/master-card.png" alt="Master Card" media-simple="true")
                    li.list-inline-item
                        img(src="assets/images/american-express.png" alt="American Express" media-simple="true")
                    li.list-inline-item
                        img(src="assets/images/paypal.png" alt="Pay Pal" media-simple="true")
                    li.list-inline-item
                        img(src="assets/images/diners-club.png" alt="Diners Club" media-simple="true")
                    li.list-inline-item
                        img(src="assets/images/discover.png" alt="Discover" media-simple="true")
                    li.list-inline-item
                        img(src="assets/images/bitcoin.png" alt="Bitcoin" media-simple="true")
                    li.list-inline-item
                        img(src="assets/images/western-union.png" alt="Western Union" media-simple="true")
                    li.list-inline-item
                        img(src="assets/images/jcb.png" alt="JCB" media-simple="true")
                    li.list-inline-item
                        img(src="assets/images/stripe.png" alt="Stripe" media-simple="true")
                    li.list-inline-item
                        img(src="assets/images/amazon.png" alt="Amazon" media-simple="true")
                    li.list-inline-item
                        img(src="assets/images/ebay.png" alt="Ebay" media-simple="true")
                    li.list-inline-item
                        img(src="assets/images/union-pay.png" alt="Union Pay" media-simple="true")