section.mbr-section.info1.cid-qz37fAC9pY#info1-9h(data-rv-view="3370")
    .container-fluid
        .media-container-row
            .title.col-12.col-md-8
                h2.align-center.mbr-bold.mbr-white.pb-3.mbr-fonts-style.display-2
                    | PURCHASE OUR SUMMER COLLECTION
                h3.mbr-section-subtitle.align-center.mbr-light.mbr-white.pb-3.mbr-fonts-style.display-5
                    | Web Design HTML Template
                .mbr-section-btn.align-center
                    .btn.btn-white.display-4(href="https://mobirise.com/") PURCHASE NOW
                    .btn.btn-white-outline.display-4(href="https://mobirise.com/") MORE DISCOUNTS